@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

html{
    /* me permite deslizar cuando hago clic en los links del menu */
    
}


.flex-navigation {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-responsive {
    display: none;
}


@media only screen and (max-width: 375px) {
    .nav-responsive {display: block;}
    .flex-navigation {display: none;}
  }